span {
    line-height: 1.8;
    word-wrap: normal;
    display: inline-block;
    padding-right: 0.3em;
}

#result {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.word {
    text-align: center;
    opacity: 1;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}